{% extends 'base.html' %}
{% block title %}Read this before you join!{% endblock %}
{% block content %}
    <img src="/static/img/before-you-join.png" class="img-fluid rounded mx-auto d-block" style="width: 60%">
    <h2 class="headline thin-text top-space-30 text-center">Things to note before you join our training program !</h2>
    <p class="text-justify top-space-20"> We have said this on other pages, but we want to repeat some key points one last time:
        <ul class="text-justify">
            <li>The course will be challenging since it simulates real work experiences</li>
            <li>We won't refund your money even if you quit because the style of the course does not suit you</li>
            <li>You must be ok with the time commitment of 10-hours a week over the next 12-weeks</li>
            <li>You must be available to attend a 1-hour meeting every Wednesday over Google Meet</li>
            <li>The training program is designed exculsively for experienced QA engineers</li>
        </ul>
    </p>
    <p class="text-justify top-space-20">After reading through all the content on this website, if you are still interested, please write to Arun (mak@qxf2.com) asking about availability and pricing.</p>
    <hr>
{% endblock %}