{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <img src="/static/img/worried_man.png" class="img-fluid rounded mx-auto d-block">
    <h2 class="headline thin-text top-space-30 text-center">Hey QA, are your limited technical skills a threat to your job security?</h2>

    <p class="text-justify top-space-30">Welcome to a training program that upgrades your technical skills and increases your job security. We noticed a growing problem in the QA world. There are
        many good testers who succeeded at their jobs. Unfortunately, that very success kept
        them constantly busy for years and prevented them from regularly upskilling themselves. Now, they find it hard
        to catch up with the new challenges that come with a rapidly changing technology landscape.</p>

    <p class="text-justify top-space-30">To solve this problem, we have designed a non-traditional training program to help experienced QA. The training approach simulates
        real-life work experiences and makes you learn tech tools. You choose a software application you want to test and let us know. We will pick weekly tasks to help you test the application. The tasks chosen will not only be useful but will also force you to increase your technical skills. The
        course spans 12-weeks and requires a total time investment of 120 hours. At the end of the training program you can add a lot of relevant technical tools to your resume. </p>

    <p class="text-justify top-space-30">If you are interested in joining this program - cool! But this program is not meant for everyone. So we strongly recommend you carefully read through this entire website. After that, if you are still keen on joining, please write to Arun (mak@qxf2.com).</p>

{% endblock %}