{% extends 'base.html' %}
{% block title %}How to increase technical exposure{% endblock %}
{% block content %}
<p class="text-justify top-space-20">
    I regularly interact with highly experienced testers. Many of them feel insecure about their limited exposure to the world of technology. This is especially true of folks that stuck to testing one product over long stretches of their career.
<blockquote class="blockquote">
    <p class="quote-text text-right">Every day my junior colleagues use and talk about technology and tools that I have not heard about. I am not able to keep up. I do not know how to catch up.</p>
</blockquote>
Technology and technical tooling are hard things to learn when you have very little exposure. The more tech you know, the easier it becomes for you to learn new tech.
</p>
<hr>
<h2 class="headline thin-text top-space-30 text-center">How to increase your technical exposure</h2>
<p class="text-justify top-space-20">You can increase your technical exposure by practicing some deliberate micro-learning on a daily basis. This method takes time to bear fruit but the daily effort involved is pretty minor. If you choose to micro-learn on a daily basis, I have four pieces of advice for you:
<ol>
    <li> Do not target specific technologies/tools</li>
    <li> Be curious about everyday life</li>
    <li> Practice purposeless exploration every day</li>
    <li> Remain patient</li>
</ol>
    </p>
<h4 class="headline thin-text top-space-30"><u>1. Do not target specific technologies/tools</u></h4>
<p class="text-justify top-space-20">I am explicitly adding this point since I see so many testers make this mistake. If your goal is to increase your technical exposure, sequentially targetting specific tools and technologies is a sure-fire way to feel overwhelmed. Instead, aim to get a really broad base of knowledge that interests you. Ignore what the market wants - just focus on what you like.</p>
<h4 class="headline thin-text top-space-30"><u>2. Be curious about every day life</u></h4>
<p class="text-justify top-space-20">Being curious is a wonderful way to increase your technical exposure. When I say be curious, I do not mean ask yourself boring textbook questions like "What is git?" Instead, be curious about every day life. Ask yourself interesting questions about stuff you use on a daily basis. If you cannot answer your own question, Google/YouTube the answer.</p>
<p class="text-justify top-space-20">If you think being curious cannot lead you too far from what you already know, here is a really good example. Look at a can of Coca Cola and ask yourself some questions that you would Google. Then read this <a href="https://medium.com/@kevin_ashton/what-coke-contains-221d449929ef">fun article about a can of Coca-Cola</a>. Did you notice how many opportunities you had to be curious about a simple can of Coke? You can make direct connections between a can of Coca-Cola and self-driving trucks, mining, mold, geometry, structural design, shipping ports, Australia, Sri Lanka and whole lot more!</p>
<img src="/static/img/if_stuck_curious.png" class="img-fluid rounded mx-auto d-block" alt="Stuck generating ideas" style="width: 60%">
<p class="text-justify top-space-20">If you find asking questions in the abstract hard, here are more than half a dozen ideas for you to try:
<ol type="a">
    <li> Google/YouTube "tech used in _________" where _________ can be anything you are interested in.</li>

    <li> Watch a 10-minute YouTube video about a tangential skill. E.g.: typography, choosing colors, how to make good slides, using whitespace in design, producing sketch notes, advanced Google search hacks, how to type faster, how to draw good graphs, etc.</li>

    <li> Google for "how to fix a broken _________" where _________ can be any object you like</li>

    <li> Create a manual <a href="https://en.wikipedia.org/wiki/StumbleUpon">StumbleUpon</a> for yourself. To do this, perform a Google Search. On the results page, instead of clicking on a result, scroll down and click on the third related search. On the new results page that comes, do the same. Then, on the next page, click the 5th search result and read the article. This will automatically randomize your reading!</li>

    <li> Wonder about an attribute of a normal object. For example, you can think of the shape (attribute) of a bottle (object) and then Google to learn more about the factors invovled in shaping a bottle.</li>

    <li> Google/YouTube "a day in the life of _________" where _________ is any profession you find fascinating.</li>
    </ol>
    </p>
    <p class="text-justify top-space-20">Do not worry about how all this learning is going to help you. Do not worry about how you will apply this knowledge. These exercises are to make you think in different ways, make you see the world in different ways. For now, it is extremely important that you choose interesting topics and not useful topics!
    <br><br>
    Side note: This technique will not help you in the short term. But in the long term, having a wide base of knowledge will make it easier for you to connect and place new information that you accquire.</p>
    <h4 class="headline thin-text top-space-30"><u>3. Practice purposeless exploration every day</u></h4>
    <p class="text-justify top-space-20">Practice this sort of purposeless exploration every day. But do it only for a short amount of time - say 10-minutes. The practice has to be deliberate and time-boxed and what you learn should not be concentrating on the same subject.</p>
    <h4 class="headline thin-text top-space-30"><u>4. Remain patient</u></h4>
    <p class="text-justify top-space-20">Do this sort of deliberate micro-learning for the next several months even if it seems like a waste of time. If you stick to this habit, you will notice that you have begun to become more comfortable with the new and unknown. You will also have more hooks to help you store, connect and synthesize new information. When you stick to this process, you will notice that knowledge has this compounding effect.</p>
    <h3 class="headline thin-text top-space-30"><u>Conclusion</u></h3>
    <p class="text-justify top-space-20">This post outlines some advice for increasing your technical exposure. It advocates practicing some deliberate micro-learning on a daily basis. There are several ideas (quick to execute!) you can try to keep your learning fresh. Hopefully, trying some of these ideas makes your learning a bit more fun!</p>
    <h3 class="headline thin-text top-space-30"><u>About me</u></h3>
    <p class="text-justify top-space-20">I am Arun. I run <a href="https://qxf2.com/?utm_source=increaseTechnicalExposure&utm_medium=click&utm_campaign=From%20trainingseniorqa">Qxf2 Services</a>. My company mostly hires highly experienced senior engineers with very good testing fundamentals. Many of us started testing before webdriver was a thing. The downside of this hiring strategy is that we end up having QA engineers who are good at testing but are insufficiently technical. So we naturally spend a lot of time and effort in addressing this problem of upskilling senior QA engineers. A lot of the material on the <a href="https://qxf2.com/blog">Qxf2 Blog</a> and in our training course is what we use to help new hires at Qxf2. I hope you find the material we share useful!</p>
<hr>
{% endblock %}