{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<img src="/static/img/target-audience.png" class="img-fluid rounded mx-auto d-block">
<h2 class="headline thin-text top-space-50 text-center">Whom is this training program meant for?</h2>
<p class="text-justify top-space-10">This training program is meant for experienced testers with limited tech and coding background. You will find
    this course useful if you:
    <ul>
        <li>feel your technical skills are getting outdated</li>
        <li>are looking to gain practical experience with Python, Selenium, API testing, DevOps basics</li>
        <li>have little scope to learn new technology at your current job</li>
        <li>prefer training that has minimal amount of theory</li>
        <li>like learning by doing practical challenges</li>
        <li>are looking for a job change</li>
    </ul>
</p>
<p class="text-justify top-space-10">We consider you an experienced tester if you:
    <ul>
        <li>have lead the testing effort on your team</li>
        <li>managed and co-ordinated the testing of big releases</li>
        <li>mentored junior QA</li>
        <li>have at least 6 years of experience as a QA</li>
    </ul>
</p>
{% endblock %}