{% extends 'base.html' %}
{% block title %}Senior QA Training Plan{% endblock %}
{% block content %}
    <img src="/static/img/program-structure.png" class="img-fluid rounded mx-auto d-block">
    <h2 class="headline thin-text top-space-30 text-center">Structure of the program</h2>
    <p class="text-justify top-space-30">In this training program, you will learn by doing. The structure of this program is designed to simulate real-life QA work at small, agile software startups.
        <ol class="text-justify">
            <li>You choose a software application you want to test</li>
            <li>You must have access to the application ... we don't</li>
            <li>We work together to figure out a next step that is both <u>useful</u> and <u>improves your technical knowledge</u>
            </li>
            <li>You will communicate with us over Skype and Jira</li>
            <li>The training is completely remote</li>
            <li>You will work in twelve 1-week sprints</li>
            <li>In each sprint, you will be assigned tickets to work on</li>
            <li>You will have 1-hour demo + sprint planning meeting on Wednesdays</li>
            <li>The sprint review and planning meeting will happen on Google Meet</li>
            <li>You need to spend 10-hours a week spread over at least 5 days</li>
            <li>The program is designed to make you revisit topics multiple times</li>
        </ol>
    </p>
    <p class="text-justify top-space-30">We have taken great care to structure the training program to suit the learning habits a tech novice. For example, we initially give you highly detailed, prescriptive tickets to work on. Gradually, we taper down the amount of instruction and guidance we give you. Towards the end of the program, you will simply be given one line goals and expected to deliver ... just like you what is likely to happen at small startups!</p>
    <p class="text-justify top-space-30">We have also put in a lot of effort in making the examples fun and creative so that learners don't quit easily. For example, instead of teaching you SQL, we make you test a data heavy application that we have seeded with bugs. You cannot proceed to the second stage unless you find the bug in the first stage. And the only way you can find the bugs we have seeded are if you pick up just enough SQL to validate the numbers shown.</p>
    <hr>
{% endblock %}