{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<img src="/static/img/baby_learning_language.png" class="img-fluid rounded">
<h2 class="headline text-center">Don't think you cannot execute before studying theory</h2>
<p class="text-justify top-space-30">Our approach in this program will resemble the way we all learnt
    testing. We did not pick up testing by studying theory. Instead, we took a
    more hands-on and practical approach to learn testing. This learning approach of studying after
    executing was not limited to only testing. We learnt how to speak our mother tongues before we studied grammar and
    the alphabet.</p>

<p class="text-justify top-space-30">As an example of this approach, when we teach you Python, we will first have you execute some code.
    Then, before introducing the
    syntax, we will challenge you to read and understand the code. We will also make you review, edit and fix errors in other's
    code before asking you to write your own code.</p>

<p class="text-justify top-space-30"><strong>Note: </strong>Our approach has some grounding in learning theory too. If you
    are interested, you can Google
    for concepts of communities of practice, peripheral learning, contextual learning, spaced repitition, backfilling knowledge,
    etc.</p>

{% endblock %}