{% extends 'base.html' %}
{% block title %}Senior QA Training Benefits{% endblock %}
{% block content %}
<img src="/static/img/samples.png" class="img-fluid rounded mx-auto d-block">
<h2 class="headline thin-text top-space-30 text-center">Sample training material</h2>
<p class="text-justify top-space-30">We designed our training program to use several different mediums to
    teach you a whole host of technology. In fact, a lot of what makes our training program unique is our creatively
    designed material. Rather than tell you about it, we thought we would expose you to a small
    sample of some things you will come across.</p>
<h3 class="thin-text top-space-50">1. New tools</h3>
<p class="text-justify top-space-10">We have developed several in-house tools specifically to train QA. These
    tools are designed to simulate real
    work and will help you break old habits and let you see your work from a new perspective. For example, to
    help you improve your coding skills, we have created a <a href="https://github.com/qxf2/wtfiswronghere">set of
        challenges with errors</a> in them. Fixing these
    errors (just like you would at your real job) ends up being a nice and natural way for you to learn a new
    language.</p>

<h3 class="thin-text top-space-50">2. Jira tickets</h3>
<p class="text-justify top-space-10">The primary way we communicate with you is through Jira. Here is an
    example of a ticket you will be given to work
    on.</p>
<img src="/static/img/sample_jira_01.png" class="img-fluid rounded mx-auto d-block"></img>


<h3 class="thin-text top-space-50">3. A training portal</h3>
<p class="text-justify top-space-10">We will occassionally use a training portal we developed to
    communicate some instructions and walk you
    through come thought processes. You can take a look at our <a href="http://qxf2trainer.pythonanywhere.com">training
        portal</a> that we have populated with a couple of sample exercises. You can use the username <strong>demo</strong>
    and password <strong>training123</strong>.</p>
<img src="/static/img/tsqa_training_portal.png" class="img-fluid rounded mx-auto d-block top-space-30"></img>

<h3 class="thin-text top-space-50">4. Blog posts</h3>
<p class="text-justify top-space-10"><a href="https://qxf2.com">Qxf2</a> (the company we work for) has a very popular testing-focused blog.
    So sometimes, we will ask you to follow blog posts. More often than
    not, we will be refering you to
    blog posts that we have written. And don't worry - these blog posts have been carefully selected keeping your
    skill levels in mind. At the start of the training program, the blog posts will be elaborate and very
    prescriptive. As you advance, we will make you learn from less elaborate posts.</p>
<p class="text-justify top-space-10"><i>Example 1:</i> Once you have used git for a bit and are wondering
    how to understand it
    conceptually, you will be asked to refer to: <a href="https://qxf2.com/blog/git-for-testers/">Testers, get
        started with git</a>.</p>
<p class="text-justify top-space-10"><i>Example 2:</i> When we ask you to make an open source
    contribution to a GitHub project, you
    will be asked to refer to: <a href="https://qxf2.com/blog/github-workflow-contributing-code-using-fork/">Contributing
        code to GitHub projects</a>.</p>

<h3 class="thin-text top-space-50">5. Slide shows</h3>
<p class="text-justify top-space-10">
        We will arm you with a variety of slide shows to help you learn concepts. We are sharing one example with
        you here:
</p>
<div align="center">
<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR81BTE16XZSqrX6UHF1g5rFoSqlMNvdk974AvfXjuJ31ddQkN1PKw1wRQ-_P3JyOLKMaYcB7pikdiv/embed?start=false&loop=false&delayms=10000"
    frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></div>

<h3 class="thin-text top-space-50">6. Emails</h3>
<p class="text-justify top-space-10">Through this training program, we will share some of our experiences
        that we think are relevant to you. You
        can also expect to receive many tips to make your life easier. For example, here is a snippet of an email you will
        receive teaching you how to apply to small companies by using the skills you picked up as part of this
        training program.</p>
<img src="/static/img/tsqa_email_sample.png" class="img-fluid rounded mx-auto d-block top-space-30"></img>

<h3 class="thin-text top-space-50">7. Carefully chosen multi-purpose tasks</h3>
<p class="text-justify top-space-10">Everything you produce during this training will help you in your career. We try our best to pick weekly assignments that are just out of your comfort zone at multiple levels. For example, if you already know Selenium and a bit of Unix but haven't had exposure to CI/CD, one of your tasks will be to implement CI/CD for the software application you have chosen to test.</p>
<hr>
{% endblock %}