{% extends 'base.html' %}
{% block title %}Senior QA Training Benefits{% endblock %}
{% block content %}
    <img src="/static/img/tsqa_benefits.png" class="img-fluid rounded mx-auto d-block">
    <h2 class="headline thin-text top-space-30 text-center">At the end of this course</h2>
    <p class="text-justify top-space-20">
        At the end of this course, you can expect the following. You will:</p>
    <p><span class="text-success">&#10004; </span>have adopted a new mindset about work</p>
    <p><span class="text-success">&#10004; </span>show no fear of new technical words</p>
    <p><span class="text-success">&#10004; </span>have a bias towards trying things out</p>
    <p><span class="text-success">&#10004; </span>have a modern toolset listed on your resume</p>
    <p><span class="text-success">&#10004; </span>have public projects that you have shared online</p>
    <p><span class="text-success">&#10004; </span>have an active GitHub page with code and videos of automated tests</p>
    <p><span class="text-success">&#10004; </span>have increased faith in your problem solving skills</p>
    <p><span class="text-success">&#10004; </span>have picked up multiple way to learn on your own</p>
    <p class="text-justify "> The course is deliberately structured to give you many small wins. And with steadily accumulating small wins you get momentum and confidence. We are certain that at the end of the training program you will feel good about your technical skills and will be amazed at how far you progressed in just 12-weeks!
    </p>
    <hr>
{% endblock %}