{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<img src="/static/img/tsqa-why-not-join.png" class="img-fluid rounded">
<h2 class="headline thin-text top-space-50 text-center">Reasons NOT to join our Senior QA Training Program</h2>
<p class="text-justify top-space-30">We do not want to mislead you. We did not design this program for everyone. In fact, it takes a special type of person to persist through our program. And on top of that,<strong><u>we do not offer your money back ... ever!</u></strong>. So please think very carefully before commiting to join the program. Here are some reasons why our approach may not suit you:</p>
<p class="text-justify top-space-30">
    <ul class="text-justify">
        <li>We expect the journey to be demoralizing because you are developing new habits!</li>
        <li>Your habit of 'Read-research-try' will have to change</li>
        <li>We provide only clues, no right answers</li>
        <li>We are not trainers - we are engineers</li>
        <li>There is no spoon-feeding</li>
        <li>We offer highly limited support</li>
        <li>Our communication is asynchronous</li>
        <li>We use chat and no talk!</li>
        <li>Our program is not targeted towards clearing interviews at large companies</li>
        <li>We do not help you with theory and definitions</li>
        <li>No money back ... for any reason! </li>
        <li>There are no extensions to the training period </li>
        <li>We expect a significant time commitement: 12-weeks and 120-hours in total</li>
        <li>This is NOT self-paced learning</li>
    </ul>
</p>
{% endblock %}