{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<img src="/static/img/why-join.png" class="img-fluid rounded mx-auto d-block">
<h2 class="headline thin-text top-space-30 text-center">Reasons to join our Senior QA Training Program</h2>
<p class="text-justify top-space-10">
    <ul class="text-justify">
        <li>As far as we know, this is the only training program to specifically target experienced QA engineers</li>
        <li>You can list many relevant tools on your resume</li>
        <li>You don't have to attend multiple trainings to gain experience in different tools</li>
        <li>We have innovative training methods</li>
        <li>This training program's exercises developed by experienced QA who worked on multiple relevant projects</li>
        <li>We have successfully re-trained senior QAs with zero coding background to take up technical challenges
            at their current job.</li>
    </ul>
</p>
{% endblock %}
